.Spacer{
    flex-grow: 1;
}
 
#HeaderBar{
    padding: var(--padding-small);
    display: flex;
}


#DateTime{
    display: grid;
    grid-template-areas:
    "DayName Time"
    "Date Time";
}

#Time{
    grid-area: Time;
}

#DayName{
    grid-area: DayName;
}

#Date{
    grid-area: Date;
}