body{
    display: grid;
    grid-template-areas:
    "Hbar Hbar Hbar"
    "ProjPlan Mail Chat"
    "ProjPlan Articles Chat"
    "Search Search Search";
    grid-template-rows: auto 1fr 1fr auto;
    gap: var(--margin);
    padding: var(--margin);
    height: 100vh;
    background-color: #181818;
}

body > *{
    background-color: var(--background);
    border: var(--border);
    border-radius: 12px;
    color: var(--text-color);
}

body > *:hover{
    transition: 0.2s;
    background-color: #444;
    border: var(--border-hover);
}

#HeaderBar{
    grid-area: Hbar;
}

#ProjectPlanner{
    grid-area: ProjPlan;
}

#Mail{
    grid-area: Mail;
}

#Articles{
    grid-area: Articles;
}

#ChatAI{
    grid-area: Chat;
}

#SearchBar{
    grid-area: Search;
}